 body {
    font-family: Arial, sans-serif;
    background-color: #FfFfff;
    color: black;
    padding-top: 55px;
    text-align: center;
   }
   
   @media (min-width: 768px) and (max-width: 1024px) {
    .maxMobmedia {
     height: auto;
    }
    
    #listContainer {
     padding: 10px;
     max-width: 100%;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     padding: 10px;
    }
    
    .sliderLabel{
    
    
    }
    
    .slider {
     -webkit-appearance: none;
     /* Ширина слайдера */
     height: 15px;
     border-radius: 5px;
     background: #D3D3D3;
     outline: none;
     opacity: 0.7;
     -webkit-transition: .2s;
     transition: opacity .2s;
    }
    
    .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background: #4CAF50;
     cursor: pointer;
    }
    
    .list-item {
     margin: 10px 0;
    }
    
    .list-item img {
     vertical-align: middle;
     border: 3px;
     padding: 10px;
    }
    
    .continue-button {
     background-color: #5741D9;
     border: none;
     border-radius: 20px;
     color: white;
     padding: 10px 60px;
     margin-top: 20px;
     cursor: pointer;
     font-size: 16px;
    }